In [1]:
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float 

from sqlalchemy.orm import Session


import pandas as pd

In [2]:
path_to_bonds_value_csv = "Merge Std.csv"
merge_data  = pd.read_csv(path_to_bonds_value_csv)

merge_data = merge_data.dropna()
merge_data

,Unnamed: 0,Date,XAU_USD,GOL_Returns_Rolling_Std,Date.1,Bonds_10year,BON_Returns_Rolling_Std,Date.2,NASDAQ_100,NAS_Returns_Rolling_Std,Date.3,NIKKEI_225,NIK_Returns_Rolling_Std
49,49,1980-03-07,-5.361305,4.873833,1980-03-11,-1.741884,1.569822,1980-03-10,-1.669062,0.900962,1980-03-14,-0.166408,0.530828
50,50,1980-03-10,-3.940887,4.910922,1980-03-12,1.692184,1.576323,1980-03-11,0.563477,0.903056,1980-03-17,-0.466220,0.527977
51,51,1980-03-11,-2.521368,4.927854,1980-03-13,-0.950872,1.579285,1980-03-12,0.048428,0.902312,1980-03-18,0.236944,0.528628
52,52,1980-03-12,2.709338,4.767652,1980-03-14,0.160000,1.569203,1980-03-13,0.241991,0.861473,1980-03-19,0.099568,0.528492
53,53,1980-03-13,-4.985487,4.431216,1980-03-17,0.479233,1.567011,1980-03-14,-0.372461,0.837425,1980-03-20,0.000000,0.528044
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10113,10113,2019-01-08,-0.257630,0.543166,2020-06-24,-3.526093,6.808957,2020-02-06,0.667503,0.761316,2021-02-08,2.117191,0.959234
10114,10114,2019-01-09,0.605283,0.540868,2020-06-25,-1.461988,6.451171,2020-02-07,-0.539488,0.752599,2021-02-09,0.399577,0.958767
10115,10115,2019-01-10,-0.521989,0.535107,2020-06-26,-5.637982,6.469783,2020-02-10,1.133131,0.764095,2021-02-10,0.193182,0.953750
10116,10116,2019-01-11,0.125935,0.494200,2020-06-29,0.000000,6.388195,2020-02-11,0.109580,0.761532,2021-02-12,-0.144977,0.954752
10117,10117,2019-01-14,0.289596,0.494719,2020-06-30,2.672956,6.365580,2020-02-12,0.902791,0.761637,2021-02-15,1.910836,0.973216

In [3]:
merge_data = merge_data.drop(['Unnamed: 0', 'Date.1','Date.2','Date.3'], axis = 1)
merge_data

,Date,XAU_USD,GOL_Returns_Rolling_Std,Bonds_10year,BON_Returns_Rolling_Std,NASDAQ_100,NAS_Returns_Rolling_Std,NIKKEI_225,NIK_Returns_Rolling_Std
49,1980-03-07,-5.361305,4.873833,-1.741884,1.569822,-1.669062,0.900962,-0.166408,0.530828
50,1980-03-10,-3.940887,4.910922,1.692184,1.576323,0.563477,0.903056,-0.466220,0.527977
51,1980-03-11,-2.521368,4.927854,-0.950872,1.579285,0.048428,0.902312,0.236944,0.528628
52,1980-03-12,2.709338,4.767652,0.160000,1.569203,0.241991,0.861473,0.099568,0.528492
53,1980-03-13,-4.985487,4.431216,0.479233,1.567011,-0.372461,0.837425,0.000000,0.528044
...,...,...,...,...,...,...,...,...,...
10113,2019-01-08,-0.257630,0.543166,-3.526093,6.808957,0.667503,0.761316,2.117191,0.959234
10114,2019-01-09,0.605283,0.540868,-1.461988,6.451171,-0.539488,0.752599,0.399577,0.958767
10115,2019-01-10,-0.521989,0.535107,-5.637982,6.469783,1.133131,0.764095,0.193182,0.953750
10116,2019-01-11,0.125935,0.494200,0.000000,6.388195,0.109580,0.761532,-0.144977,0.954752
10117,2019-01-14,0.289596,0.494719,2.672956,6.365580,0.902791,0.761637,1.910836,0.973216

In [4]:
path_to_returns_actual = "returns actual.csv"
returns_actual_df = pd.read_csv(path_to_returns_actual)

path_to_returns_prediction ="returns prediction.csv"
returns_prediction_df =pd.read_csv(path_to_returns_prediction)

path_to_volatility_actual="volatility actual.csv"
volatility_actual_df =pd.read_csv(path_to_volatility_actual)

path_to_volatility_prediction ="volatility prediction.csv"
volatility_prediction_df=pd.read_csv(path_to_volatility_prediction)

merge_data.to_csv('historic_data.csv')

In [6]:
# returns_actual_df = returns_actual_df.drop(['Unnamed: 0'], axis = 1)

# returns_prediction_df = returns_prediction_df.drop(['Unnamed: 0'], axis = 1)

# volatility_actual_df = volatility_actual_df.drop(['Unnamed: 0'], axis = 1)

# volatility_prediction_df = volatility_prediction_df.drop(['Unnamed: 0'], axis = 1)

# returns_actual_df.to_csv('returns actual.csv')
# returns_prediction_df.to_csv('returns prediction.csv')
# volatility_actual_df.to_csv('volatility actual.csv')
# volatility_prediction_df.to_csv('volatility prediction.csv')

In [5]:
# Imports the method used for connecting to DBs
from sqlalchemy import  Column, Integer, Unicode, UnicodeText, String
from sqlalchemy import create_engine
# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base
import csv

from sqlalchemy.orm import sessionmaker



engine = create_engine("sqlite:///predictions.sqlite")

Base = declarative_base(bind=engine)

class act_ret_db(Base):
    __tablename__ = 'return_act'
    id = Column(Integer, primary_key=True)
    nas_return = Column(Integer)
    nik_return = Column(Integer)
    gold_return = Column(Integer)
    bonds_return = Column(Integer)
    average_return = Column(Integer)
    day_count = Column(Integer)

    def __init__(self, id, nas_return, nik_return, gold_return, bonds_return, average_return, day_count):
        self.id = id
        self.nas_return = nas_return
        self.nik_return = nik_return
        self.gold_return = gold_return
        self.bonds_return = bonds_return
        self.average_return = average_return
        self.day_count = day_count 

Base.metadata.create_all()



actual_returns = []

with open(path_to_returns_actual, 'r') as f:    
    reader = csv.reader(f)
    for row in reader: 
        actual_returns.append(act_ret_db(row[0], row[1], row[2:], row[3:], row[4:], row[5:], row[6:]))

In [9]:
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.automap import automap_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float 

Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['return_act']

In [12]:

# Base = declarative_base()

# class act_ret_db(Base):
#     __tablename__ = 'return_act'
#     id = Column(Integer, primary_key=True)
#     nas_return = Column(Integer)
#     nik_return = Column(Integer)
#     gold_return = Column(Integer)
#     bonds_return = Column(Integer)
#     average_return = Column(Integer)
#     day_count = Column(Integer)

# employees = Table('return_act', 
# metadata,
# Column('id', Integer()), 
# Column('nas_return', Integer()),
# Column('nik_return',Integer()),
# Column('gold_return',Integer()),
# Column('bonds_return',Integer()),
# Column('average_return',Integer()),
# Column('day_count',Integer()))

# metadata.create_all(engine)
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

NameError: name 'automap_base' is not defined

In [15]:
from sqlalchemy.ext.automap import automap_base
Base.prepare(engine, reflect=True)
Base.classes.keys()

AttributeError: type object 'Base' has no attribute 'prepare'

In [25]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

# Use this to clear out the db
# ----------------------------------
# Base.metadata.drop_all(engine)

NameError: name 'ret' is not defined

In [11]:
# Create a Session Object to Connect to DB
# ----------------------------------
# Session is a temporary binding to our DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

UnmappedInstanceError: Class 'numpy.ndarray' is not mapped

In [8]:
# import json
# returns_actual_df.columns = ['id', 'nas_return' ,'nik_return' ,'gold_return','bonds_return','average_return','day_count']

# actual_returns = returns_actual_df.to_sql("return_act",con=conn,if_exists="replace",index=False)
# actual_returns = actual_returns.to_json()
returns_actual_df.to_sql("return_act",engine,if_exists="replace")

returns_prediction_df.to_sql("return_pre",engine,if_exists="replace")

volatility_actual_df.to_sql("vol_act",engine,if_exists="replace")

volatility_prediction_df.to_sql("vol_pre",engine,if_exists="replace")

merge_data.to_sql("historic_data",engine,if_exists="replace")

In [26]:
from sqlalchemy import create_engine,MetaData, Table, Column
from sqlalchemy.ext.automap import automap_base

metadata = MetaData()
Base = automap_base()
# metadata.reflect(engine, only =['return_act'])

# Table('return_act', metadata,
#     Column('id', Integer()), 
#     Column('nas_return', Integer()),
#     Column('nik_return',Integer()),
#     Column('gold_return',Integer()),
#     Column('bonds_return',Integer()),
#     Column('average_return',Integer()),
#     Column('day_count',Integer())
# )

class act_ret_db(Base):
    __tablename__ = 'return_act'
    id = Column(Integer, primary_key=True)
    nas_return = Column(Integer)
    nik_return = Column(Integer)
    gold_return = Column(Integer)
    bonds_return = Column(Integer)
    average_return = Column(Integer)
    day_count = Column(Integer)

address_collection = relationship("address", collection_class=set)

return_act = Table('return_act', metadata, autoload=True, autoload_with=engine)
insert_query = return_act.select()
metadata.create_all(engine)
# insert_query = return_act.insert()
insert_query

In [17]:

Base = automap_base(metadata=metadata)
Base.prepare()
metadata.tables.keys()

dict_keys(['return_act'])

In [12]:
metadata.tables.return_Act

AttributeError: 'immutabledict' object has no attribute 'return_Act'

In [25]:
 # Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float 
# Create Dog and Cat Classes
# ----------------------------------

# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()


# Creates Classes which will serve as the anchor points for our Tables
class Dog(Base):
    __tablename__ = 'dog'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    color = Column(String(255))
    age = Column(Integer)


class Cat(Base):
    __tablename__ = 'cat'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    color = Column(String(255))
    age = Column(Integer)

In [26]:
# Create a Specific Instance of the Dog and Cat classes
# ----------------------------------

# Calls the Pet Constructors to create "Dog" and "Cat" objets
dog = Dog(name='Rex', color='Brown', age=4)
cat = Cat(name="Felix", color="Gray", age=7)

In [27]:
?dog

Type:            Dog
String form:     <__main__.Dog object at 0x000001F9DF684688>
Docstring:       <no docstring>
Class docstring: The most base type
Init docstring:
A simple constructor that allows initialization from kwargs.

Sets attributes on the constructed instance using the names and
values in ``kwargs``.

Only keys that are present as
attributes of the instance's class are allowed. These could be,
for example, any mapped columns or relationships.